*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(11, 73, 73);
    width: auto;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.outer-box{
    height: 150px;
    width: 450px;
    background-color: #fff;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
@media(max-width:576px){
    .outer-box{
        width: 100%;
        margin: 1px;
        margin-bottom: 10px;
    }
}
.heading{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
}
.paragraph{
    font-family: "Poppins",sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.input-box{
    margin-top: 2px;
    height: 50px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
}
input{
    height: 2rem;
    width: 16rem;
    padding: 5px;
    height: 40px;
    border: none;
    margin-top: 5px;
    margin-left: 4px;
    outline: none;
}
input::placeholder{
    font-family: "Poppins",sans-serif;
}
.input-box i{
    color: gray;
    font-weight: 800;
    font-size: larger;
    cursor: pointer;
    font-weight: 900;
    margin-left: 10px;
}